<a href="https://colab.research.google.com/github/AsishGYT/Practice-Codes/blob/main/ORM_CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#CRUD > CRED

In [ ]:
!pip install sqlalchemy
import sqlalchemy as db

In [5]:
#creating table

In [9]:

from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

In [10]:
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)
print("these are columns in our table %s" %(students.columns.keys()))

2022-04-06 11:18:32,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-06 11:18:32,486 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-04-06 11:18:32,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-06 11:18:32,492 INFO sqlalchemy.engine.Engine COMMIT
these are columns in our table ['id', 'name', 'lastname']

In [11]:
#insert data into table

In [15]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'MAX', lastname = 'VERSTAPPEN')
conn = engine.connect()
result = conn.execute(ins)

2022-04-06 11:20:24,272 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-04-06 11:20:24,277 INFO sqlalchemy.engine.Engine [generated in 0.00475s] ('MAX', 'VERSTAPPEN')
2022-04-06 11:20:24,282 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
conn.execute(students.insert(), [
   {'name':'ASISH', 'lastname' : 'S RAM'},
   {'name':'LEWIS','lastname' : 'HAMILTON'},
   {'name':'CHARLES','lastname' : 'LECLERC'},
   {'name':'MICHAEL','lastname' : 'SCHUMACHER'},
])

2022-04-06 11:21:44,253 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-04-06 11:21:44,259 INFO sqlalchemy.engine.Engine [generated in 0.00551s] (('ASISH', 'S RAM'), ('LEWIS', 'HAMILTON'), ('CHARLES', 'LECLERC'), ('MICHAEL', 'SCHUMACHER'))
2022-04-06 11:21:44,261 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
#DELETE DATA

In [19]:
from sqlalchemy.sql.expression import update

stmt = students.delete().where(students.c.name == 'CHARLES')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2022-04-06 11:23:13,623 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.name = ?
2022-04-06 11:23:13,627 INFO sqlalchemy.engine.Engine [generated in 0.00453s] ('CHARLES',)
2022-04-06 11:23:13,633 INFO sqlalchemy.engine.Engine COMMIT
2022-04-06 11:23:13,647 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-04-06 11:23:13,649 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ()

[(1, 'SEBASTIAN', 'VETTEL'),
 (2, 'SEBASTIAN', 'VETTEL'),
 (3, 'SEBASTIAN', 'VETTEL'),
 (4, 'MAX', 'VERSTAPPEN'),
 (5, 'ASISH', 'S RAM'),
 (6, 'LEWIS', 'HAMILTON'),
 (8, 'MICHAEL', 'SCHUMACHER')]

In [20]:
#UPDATE DATA

In [21]:
conn = engine.connect()
stmt=students.update().where(students.c.name=='LEWIS').values(name='SIR LEWIS')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2022-04-06 11:24:20,316 INFO sqlalchemy.engine.Engine UPDATE students SET name=? WHERE students.name = ?
2022-04-06 11:24:20,317 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ('SIR LEWIS', 'LEWIS')
2022-04-06 11:24:20,322 INFO sqlalchemy.engine.Engine COMMIT
2022-04-06 11:24:20,334 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-04-06 11:24:20,336 INFO sqlalchemy.engine.Engine [cached since 66.69s ago] ()

[(1, 'SEBASTIAN', 'VETTEL'),
 (2, 'SEBASTIAN', 'VETTEL'),
 (3, 'SEBASTIAN', 'VETTEL'),
 (4, 'MAX', 'VERSTAPPEN'),
 (5, 'ASISH', 'S RAM'),
 (6, 'SIR LEWIS', 'HAMILTON'),
 (8, 'MICHAEL', 'SCHUMACHER')]

In [22]:
#READ DATA

In [23]:
s = students.select().where(students.c.name=="ASISH")
result = conn.execute(s)
for row in result:
   print (row)

2022-04-06 11:25:00,626 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = ?
2022-04-06 11:25:00,636 INFO sqlalchemy.engine.Engine [generated in 0.01020s] ('ASISH',)
(5, 'ASISH', 'S RAM')

In [24]:
s = students.select().where(students.c.id < 5)
result = conn.execute(s)
for row in result:
   print (row)

2022-04-06 11:25:48,352 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id < ?
2022-04-06 11:25:48,361 INFO sqlalchemy.engine.Engine [generated in 0.00850s] (5,)
(1, 'SEBASTIAN', 'VETTEL')
(2, 'SEBASTIAN', 'VETTEL')
(3, 'SEBASTIAN', 'VETTEL')
(4, 'MAX', 'VERSTAPPEN')